.game-showcase {
  font-size: 20px;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  position: sticky;
  width: 100%;
  top: 0;
}

nav .title {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem;
}

nav .title .logo {
  color: rgb(255, 255, 255);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  position: relative;
  transition: background-color 0.3s linear;
}

nav ul li a.active {
  background-color: rgb(160, 160, 160);
  color: white;
  font-weight: bold;
}

nav ul li a::after {
  content: '';
  height: 2px;
  width: 0%;
  left: 0;
  background-color: cadetblue;
  display: block;
  pointer-events: none;
  transition: all 0.3s linear;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  display: none;
}

nav .menu .bars {
  color: white;
  font-size: 2.25rem;
  width: 100%;
}

@media (max-width: 700px) {
  nav {
    flex-direction: column;
    align-items: start;
  }

  nav ul {
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0.25rem;
    max-height: 0;
    transition: all 0.3s;
  }

  nav ul.open {
    max-height: 15rem;
  }

  nav ul li {
    text-align: center;
    margin-bottom: 1rem;
  }

  nav ul li a {
    margin: 0.2rem 0;
    border-radius: 0.5rem;
  }

  nav ul li a::after {
    opacity: 0;
  }

  nav ul li a:hover {
    background-color: rgb(71, 126, 128);
  }

  nav .menu {
    display: flex;
    transition: all 0.3s linear;
  }

  nav .menu:hover {
    transform: rotate(90deg);
  }
}
